---

---

<section
    class="bg-no-repeat bg-cover bg-center mp-big-image-highlight-block mp-mobile-bounds"
    style="background-image: url(assets/images/misc/MeanPug-Front-Pack_v2.avif"
>
    <div
        class="container mx-auto text-center pt-8 pb-16 min-h-screen-1/2 md:min-h-screen-3/4 flex flex-col justify-between"
    >
        <div
            class="mp-emphasis-text mp-emphasis-text--bg-yellow mp-emphasis-text--text-purple-900 text-white uppercase mp-header--sm md:mp-header--xl tracking-wider"
            data-inviewport="highlight-text"
        >
            <h5>
                <span class="ez-toc-section" id="juggling-vendors-sucks"
                ></span>Juggling Vendors
                <strong>Sucks</strong><span class="ez-toc-section-end"></span>
            </h5>
        </div>

        <div class="pt-24 md:pt-0">
            <h2
                class="mp-header mp-header--2xl md:mp-header--6xl lg:mp-header--7xl mp-big-image-highlight-block__main-header mp-shadow-text font-bold text-white"
            >
                <span
                    class="ez-toc-section"
                    id="all-marketing-solutions-under-one-roof"></span>All
                Marketing Solutions Under One Roof<span
                    class="ez-toc-section-end"></span>
            </h2>

            <div class="pt-8 md:pt-4">
                <a
                    href="https://www.meanpug.com/contact-us/"
                    class="mp-cta-button mp-cta-button--sm md:mp-cta-button--lg mp-cta-button--secondary"
                >
                    Get A Free Site Audit
                </a>
            </div>
        </div>
    </div>
</section>
