---
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";
import Hero from "../components/homepage/Hero.astro";
import Marquee from "../components/homepage/Marquee.astro";
import Stats from "../components/homepage/Stats.astro";
import AboutUs from "../components/homepage/AboutUs.astro";
import Services from "../components/homepage/Services.astro";
import SuccessHighlight from "../components/homepage/SuccessHighlight.astro";
import BigImageHighlight from "../components/homepage/BigImageHighlight.astro";
import Clients from "../components/homepage/Clients.astro";
import PortfolioCarousel from "../components/homepage/PortfolioCarousel.astro";
import CaseTypes from "../components/homepage/CaseTypes.astro";
import OurProcess from "../components/homepage/OurProcess.astro";
import TeamCarousel from "../components/homepage/TeamCarousel.astro";
import ContactForm from "../components/homepage/ContactForm.astro";
import Footer from "../components/common/Footer.astro";
---

<Layout>
	<div id="content" class="site-content front-page">
		<Header />
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<article
					id="post-66"
					class="post-66 page type-page status-publish hentry"
				>
					<Hero />
					<Marquee />
					<Stats />
					<AboutUs />
					<Services />
					<SuccessHighlight />
					<BigImageHighlight />
					<Clients />
					<PortfolioCarousel />
					<CaseTypes />
					<OurProcess />
					<TeamCarousel />
				</article>
			</main>
		</div>
	</div>
	<ContactForm />
	<Footer />
</Layout>
