---
import { Image } from "astro:assets";
---

<section class="bg-purple mp-pedigree pb-12 mp-mobile-bounds">
    <div class="container mx-auto border-t border-yellow pt-3">
        <div class="flex justify-between items-center">
            <strong
                class="font-medium text-xl uppercase tracking-widest md:tracking-wider text-white"
                >Our Pedigree</strong
            >

            <a
                class="flex items-center font-bold text-sm text-yellow hover:text-white transition-transform transform hover:scale-110 mp-link mp-link--ic hover:mp-link--ic--white"
                href="https://www.meanpug.com/growth-partner-for-law-firms/"
            >
                <Image
                    width="18"
                    height="20"
                    decoding="async"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2018%2020'%3E%3C/svg%3E"
                    alt="plus icon"
                    class="mp-link--ic__ic"
                    src="/assets/images/icons/ic-plus-circle-yellow.svg"
                />

                <span class="ml-2 md:ml-4 inline-block underline pt-1">
                    Our Process
                </span>
            </a>
        </div>

        <h2
            class="text-yellow mp-header mp-header--5xl md:mp-header--6xl font-bold pt-8 md:pt-12 md:pb-8"
        >
            <span class="ez-toc-section" id="about-us"></span>About Us<span
                class="ez-toc-section-end"></span>
        </h2>

        <div class="md:pl-16 lg:pl-32 xl:pl-48">
            <div >
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-16">
                    <Image
                        decoding="async"
                        width="558"
                        height="371"
                        src="/assets/images/misc/Grow-With-MeanPug_v2.png"
                        class="attachment-large size-large"
                        alt="holding smartphone with MeanPug website displayed"
                        srcset="assets/images/misc/Grow-With-MeanPug_v2.png 558w, assets/images/misc/Grow-With-MeanPug_v2-300x199.png 300w"
                        sizes="(max-width: 558px) 100vw, 558px"
                    />

                    <div class="mp-pedigree__content">
                        <h3>
                            <span class="ez-toc-section" id="we-are-meanpug"
                            ></span>We are MeanPug.<span
                                class="ez-toc-section-end"></span>
                        </h3>
                        <p class="p1">
                            MeanPug is a full-service digital marketing agency
                            for law firms that views each of our clients as true
                            business partners. We love helping law firms grow,
                            and our personalized approach to our work reflects
                            that. Unlike other legal marketing agencies that may
                            only offer one service, we do it all. We love to get
                            in the trenches with our clients and help them find
                            the hidden opportunities that will launch them to
                            the next level of success.
                        </p>
                    </div>
                </div>

                <div class="flex md:pr-16 py-6">
                    <div
                        class="mp-emphasis-text mp-emphasis-text--bg-yellow mp-emphasis-text--text-white text-white font-bold mp-header mp-header--3xl md:mp-header--4xl lg:mp-header--5xl mp-pedigree__emphasis md:pr-12"
                    >
                        <h4>
                            <span
                                class="ez-toc-section"
                                id="weve-helped-the-largest-personal-injury-firms-double-in-size"
                            ></span>We&#8217;ve Helped the<br />
                            <strong>Largest Personal Injury Firms</strong><br />
                            Double in Size<span class="ez-toc-section-end"
                            ></span>
                        </h4>
                    </div>

                    <div
                        class="hidden md:block svg-animation h-16"
                        data-svg="/assets/animations/shapes/curved-line-1/curved-line-1.json"
                    >
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-16">
                    <div class="relative hidden md:block">
                        <div
                            class="absolute top-0 right-0 svg-animation h-32"
                            data-svg="assets/animations/shapes/curved-lines-2/curved-lines-2.json"
                        >
                        </div>
                    </div>

                    <div>
                        <div class="mp-pedigree__content">
                            <p>
                                <strong>Bobby Steinbach</strong>, former
                                Director of Engineering for Morgan &amp; Morgan,
                                and <strong>Andrew Nasrinpay</strong>, former
                                Director of Paid Digital Advertising for Morgan
                                &amp; Morgan, founded MeanPug in 2020 as a
                                full-service client origination solution for law
                                firms.
                            </p>
                        </div>

                        <div class="text-center md:text-right pt-8">
                            <a
                                href="https://www.meanpug.com/about-us/"
                                class="mp-cta-button mp-cta-button--secondary"
                            >
                                About Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section
        class="pt-12 text-center bg-yellow relative mp-philosophy-block mp-mobile-bounds overflow-hidden"
    >
        <div class="container mx-auto md:relative">
            <video
                class="hidden md:block absolute left-0 bottom-0 w-auto xl:w-full h-full xl:h-auto z-10 object-contain md:object-cover"
                playsinline
                autoplay
                loop
                muted
            >
                <source
                    src="/assets/images/misc/Integration-Matters-Tetris-Video-2.mp4"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>

            <h4
                class="text-2xl uppercase tracking-widest text-purple font-bold relative z-10"
            >
                <span class="ez-toc-section" id="our-philosophy"></span>
                Our Philosophy <span class="ez-toc-section-end"></span>
            </h4>

            <div class="pt-12 md:pt-24 pb-48 md:pb-64 relative z-10">
                <div
                    data-bg="assets/images/illustrations/ill-ampersand-gold.svg"
                    class="w-full md:w-1/2 lg:w-1/3 h-96 mx-auto flex flex-col justify-between bg-no-repeat bg-contain bg-center relative rocket-lazyload"
                    style=""
                >
                    <div
                        class="static md:absolute left-0 z-10 md:-ml-32 order-last md:order-first mt-12 md:mt-0"
                    >
                        <a
                            href="https://www.meanpug.com/what-we-offer/"
                            class="mp-play-button inline-block"
                        >
                            <span> Play </span>
                        </a>
                    </div>

                    <h3
                        class="mp-header mp-header--4xl md:mp-header--5xl font-bold text-purple-900"
                    >
                        <span class="ez-toc-section" id="custom-services"
                        ></span>
                        Custom Services <span class="ez-toc-section-end"></span>
                    </h3>

                    <h3
                        class="mp-header mp-header--4xl md:mp-header--5xl font-bold text-purple-900 pt-24"
                    >
                        <span class="ez-toc-section" id="integration-matters"
                        ></span>
                        Integration Matters <span class="ez-toc-section-end"
                        ></span>
                    </h3>
                </div>
            </div>

            <video
                class="block md:hidden w-full absolute bottom-0 left-0 z-0"
                playsinline
                autoplay
                loop
                muted
            >
                <source
                    src="/assets/images/misc/Integration-Matters-Tetris-Video-2.mp4"
                    type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</section>
