---
---

<section
	class="min-h-screen-1/2 md:min-h-screen bg-no-repeat bg-cover bg-bottom flex flex-col justify-end items-center overflow-hidden relative mp-mobile-bounds pt-16 md:pt-0"
	style="background-image: url('/assets/images/misc/Never-Turn-Our-Backs-Again_v2.png');"
>
	<div class="container mx-auto px-2 md:px-4 lg:px-12 xl:px-24 relative z-10">
		<div
			class="mp-emphasis-text mp-emphasis-text--bg-yellow mp-emphasis-text--text-purple leading-tight mp-header mp-header--2xl md:mp-header--6xl lg:mp-header--7xl text-white font-bold text-center pb-3"
		>
			<p>We&#8217;ll never <strong>turn our backs</strong> on you again</p>
		</div>

		<div class="border-t-2 border-white pt-4 text-center">
			<p class="text-white font-bold text-2xl md:text-3xl">
				Don't be shy. Fill out the form and we'll be in touch shortly
			</p>
		</div>

		<div class="mp-form mp-form--bottom pt-8 md:pt-12">
			<form
				method="post"
				action="/contact/"
				class="gform_fields top_label form_sublabel_below description_below validation_below grid gap-2 md:gap-3 md:grid-cols-2"
			>
				<div class="gfield gfield--type-text gfield_contains_required field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible">
					<label class="gfield_label gform-field-label" for="input_contact_name"
						>Full Name<span class="gfield_required"
							><span class="gfield_required gfield_required_text"
								>(Required)</span
							></span
						></label
					>
					<div class="ginput_container ginput_container_text">
						<input
							name="full_name"
							id="input_contact_name"
							type="text"
							value=""
							class="large"
							placeholder="Full Name"
							aria-required="true"
							aria-invalid="false"
						/>
					</div>
				</div>

				<div
					class="gfield gfield--type-email gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible"
				>
					<label class="gfield_label gform-field-label" for="input_contact_email"
						>Email<span class="gfield_required"
							><span class="gfield_required gfield_required_text"
								>(Required)</span
							></span
						></label
					>
					<div class="ginput_container ginput_container_email">
						<input
							name="email"
							id="input_contact_email"
							type="email"
							value=""
							class="large"
							placeholder="Email"
							aria-required="true"
							aria-invalid="false"
						/>
					</div>
				</div>

				<div
					class="gfield gfield--type-phone gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible"
				>
					<label class="gfield_label gform-field-label" for="input_contact_phone"
						>Phone</label
					>
					<div class="ginput_container ginput_container_phone">
						<input
							name="phone"
							id="input_contact_phone"
							type="tel"
							value=""
							class="large"
							placeholder="Phone"
							aria-invalid="false"
						/>
					</div>
				</div>

				<div
					class="gfield gfield--type-select gfield--width-full field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible"
				>
					<label class="gfield_label gform-field-label" for="input_contact_interest"
						>Interested In</label
					>
					<div class="ginput_container ginput_container_select">
						<select
							name="interested_in"
							id="input_contact_interest"
							class="large gfield_select"
							aria-invalid="false"
						>
							<option value="" selected class="gf_placeholder">
								I'm Interested In
							</option>
							<option value="Web design and development">
								Web design and development
							</option>
							<option value="Business operations">
								Business operations
							</option>
							<option value="Free consultation">
								Free consultation
							</option>
							<option value="Free site audit">
								Free site audit
							</option>
							<option value="Marketing and advertising">
								Marketing and advertising
							</option>
						</select>
					</div>
				</div>

				<div
					class="gfield gfield--type-textarea gfield--width-full md:col-span-2 field_sublabel_below gfield--no-description field_description_below hidden_label field_validation_below gfield_visibility_visible"
				>
					<label
						class="gfield_label gform-field-label"
						for="input_contact_message"
						>Additional Information</label
					>
					<div class="ginput_container ginput_container_textarea">
						<textarea
							name="message"
							id="input_contact_message"
							class="textarea large"
							placeholder="Any Additional Information We Should Know?"
							aria-invalid="false"
							rows="10"
							cols="50"
						></textarea>
					</div>
				</div>

				<div class="gform-footer gform_footer top_label md:col-span-2">
					<input
						type="submit"
						class="gform_button button"
						value="Submit"
					/>
				</div>
			</form>
		</div>
	</div>
</section>
