---
import { Image } from "astro:assets";
---

<nav class="sticky top-0 bg-yellow z-30 mp-top-nav">
    <div
        class="container mx-auto flex justify-between items-center mp-mobile-bounds py-3 md:py-6 md:px-2 xl:px-0"
    >
        <div class="w-1/5 2xl:w-1/4">
            <div class="w-32 md:w-64">
                <a
                    href="https://www.meanpug.com/"
                    class="custom-logo-link"
                    rel="home"
                    aria-current="page"
                >
                    <Image
                        width="486"
                        height="112"
                        src="/assets/images/logos/MeanPug-Logo.avif"
                        class="custom-logo"
                        alt="The MEANPUG logo features the word MEAN in bold dark blue letters, PUG in lighter blue, and a curved line and dot below, resembling a stylized dogs face."
                        decoding="async"
                        fetchpriority="high"
                    />
                </a>
            </div>
        </div>

        <div class="flex-grow flex items-center justify-end">
            <div
                class="xl:flex-grow order-last xl:order-first pl-3 md:pl-8 xl:pl-0"
            >
                <img
                    width="30"
                    height="15"
                    src="/assets/images/icons/ic-hamburger.svg"
                    alt="Menu Icon"
                    class="block xl:hidden mp-menu-toggle"
                />

                <div class="mp-header-menu-wrapper">
                    <div class="mpb-stack-nav">
                        <div class="mp-menu-container">
                            <ul id="menu-primary-nav" class="mp-header-menu">
                                <li
                                    id="menu-item-83"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-83"
                                >
                                    <a href="https://www.meanpug.com/about-us/"
                                        >About Us</a
                                    >
                                    <ul class="sub-menu">
                                        <li
                                            id="menu-item-854"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-854"
                                        >
                                            <a
                                                href="https://www.meanpug.com/events-calendar/"
                                                >Events Calendar</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-1399"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1399"
                                        >
                                            <a
                                                href="https://www.meanpug.com/what-our-clients-say/"
                                                >Client Reviews</a
                                            >
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    id="menu-item-79"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-79"
                                >
                                    <a
                                        href="https://www.meanpug.com/what-we-offer/"
                                        >What We Offer</a
                                    >
                                    <ul class="sub-menu">
                                        <li
                                            id="menu-item-2059"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2059"
                                        >
                                            <a href="#">Law Firm Advertising</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-811"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-811"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-digital-advertising/"
                                                        >Law Firm Digital
                                                        Advertising</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1644"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1644"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-tv-advertising/"
                                                        >Law Firm TV Advertising</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1959"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1959"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-radio-advertising/"
                                                        >Law Firm Radio
                                                        Advertising</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1725"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1725"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-billboard-advertising/"
                                                        >Law Firm Billboard
                                                        Advertising</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            id="menu-item-2060"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2060"
                                        >
                                            <a href="#">Law Firm Marketing</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-812"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-812"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-seo/"
                                                        >Law Firm SEO</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-2819"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-2819"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-geo/"
                                                        >Law Firm GEO</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-810"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-810"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-content-marketing/"
                                                        >Law Firm Content
                                                        Marketing</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1726"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1726"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-video-marketing-production/"
                                                        >Law Firm Video
                                                        Marketing &amp;
                                                        Production</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1965"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1965"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-email-marketing/"
                                                        >Law Firm Email
                                                        Marketing</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-2020"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-2020"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/social-media-management-for-law-firms/"
                                                        >Law Firm Social Media
                                                        Management</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            id="menu-item-2061"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2061"
                                        >
                                            <a href="#">Law Firm Websites</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-813"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-813"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-website-design-and-development/"
                                                        >Law Firm Web Design and
                                                        Development</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-809"
                                                    class="menu-item menu-item-type-post_type menu-item-object-service menu-item-809"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/service/law-firm-branding/"
                                                        >Law Firm Branding</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    id="menu-item-1785"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1785"
                                >
                                    <a
                                        href="https://www.meanpug.com/marketing-your-law-firm/"
                                        >Marketing Guides</a
                                    >
                                    <ul class="sub-menu">
                                        <li
                                            id="menu-item-3559"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3559"
                                        >
                                            <a
                                                href="https://www.meanpug.com/law-firm-marketing/law-firm-marketing-basics/"
                                                >Law Firm Marketing Guide [2026
                                                Edition]</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-3881"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3881"
                                        >
                                            <a
                                                href="https://www.meanpug.com/law-firm-seo/the-foundations-of-law-firm-seo/"
                                                >Law Firm SEO Guide [2026
                                                Edition]</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-86"
                                            class="menu-item menu-item-type-post_type_archive menu-item-object-resource menu-item-86"
                                        >
                                            <a
                                                href="https://www.meanpug.com/resource/"
                                                >Downloadable Resources</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-87"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"
                                        >
                                            <a
                                                href="https://www.meanpug.com/drawing-board/"
                                                >Law Firm Marketing Blog</a
                                            >
                                        </li>
                                        <li
                                            id="menu-item-2648"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2648"
                                        >
                                            <a
                                                href="https://www.meanpug.com/podcasts/"
                                                >Podcasts</a
                                            >
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-2647"
                                                    class="menu-item menu-item-type-taxonomy menu-item-object-podcast_show menu-item-2647"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/podcasts/hot-docket-podcast/"
                                                        >Hot Docket Podcast</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-2646"
                                                    class="menu-item menu-item-type-taxonomy menu-item-object-podcast_show menu-item-2646"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/podcasts/devils-advocate/"
                                                        >Devil&#8217;s Advocate</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    id="menu-item-1475"
                                    class="menu-grid-wrap-3 menu-item menu-item-type-post_type_archive menu-item-object-persona menu-item-has-children menu-item-1475"
                                >
                                    <a
                                        href="https://www.meanpug.com/who-we-help/"
                                        >Who We Help</a
                                    >
                                    <ul class="sub-menu">
                                        <li
                                            id="menu-item-1476"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1476"
                                        >
                                            <a href="#">Law Firm Roles</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-1852"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1852"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/law-firm-owners/"
                                                        >Law Firm Owners</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1479"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1479"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/marketing-coordinators/"
                                                        >Marketing Coordinators</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            id="menu-item-1477"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1477"
                                        >
                                            <a href="#">Law Firm Sizes</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-1478"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1478"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/new-law-firms/"
                                                        >New Law Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1490"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1490"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/small-to-midsize-law-firms/"
                                                        >Small to Midsize Law
                                                        Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1562"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1562"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/large-law-firms/"
                                                        >Large Law Firms</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                        <li
                                            id="menu-item-1484"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1484"
                                        >
                                            <a href="#">Law Firm Practices</a>
                                            <ul class="sub-menu">
                                                <li
                                                    id="menu-item-1485"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1485"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/personal-injury-law-firms/"
                                                        >Personal Injury Law
                                                        Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-3595"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-3595"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/estate-planning-law-firms/"
                                                        >Estate Planning Law
                                                        Firm Marketing</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-2040"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-2040"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/mass-tort-law-firms/"
                                                        >Mass Tort Law Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1848"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1848"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/family-law-firms/"
                                                        >Family Law Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-3680"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-3680"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/immigration-law-firms/"
                                                        >Immigration Law Firm
                                                        Marketing</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-1508"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-1508"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/business-and-transactional-law-firms/"
                                                        >Business and
                                                        Transactional Law Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-3681"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-3681"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/criminal-defense-law-firm-marketing/"
                                                        >Criminal Defense Law
                                                        Firm Marketing</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-2041"
                                                    class="menu-item menu-item-type-post_type menu-item-object-persona menu-item-2041"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/workers-compensation-law-firms/"
                                                        >Workers’ Compensation
                                                        Law Firms</a
                                                    >
                                                </li>
                                                <li
                                                    id="menu-item-3880"
                                                    class="menu-item menu-item-type-post_type_archive menu-item-object-persona menu-item-3880"
                                                >
                                                    <a
                                                        href="https://www.meanpug.com/who-we-help/"
                                                        >See All Practices We
                                                        Help</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    id="menu-item-84"
                                    class="menu-item menu-item-type-post_type_archive menu-item-object-portfolio menu-item-84"
                                >
                                    <a href="https://www.meanpug.com/portfolio/"
                                        >Portfolio</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <img
                            width="26"
                            height="25"
                            src="/assets/images/icons/ic-close-yellow.svg"
                            alt="Close Icon"
                            class="flex-end block xl:hidden mp-menu-toggle mp-menu-toggle--close w-8 md:w-16"
                        />
                    </div>
                </div>
            </div>

            <div class="pl-6 md:pl-0 order-first xl:order-last">
                <a
                    href="https://www.meanpug.com/contact-us/"
                    class="mp-cta-button mp-cta-button--primary mp-cta-button--xs md:mp-cta-button--lg flex items-center"
                >
                    <img
                        width="20"
                        height="18"
                        src="/assets/images/icons/ic-paw-yellow.svg"
                        alt="paw icon"
                        class="w-5"
                    />
                    <span class="inline-block pl-3 pt-1">Say Hello</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div
    class="mp-overlay mp-menu-toggle opacity-25 bg-purple-900 fixed top-0 left-0 w-full h-full z-20"
>
</div>
